@charaset utf-8;

/* ========================================================
header-v01.css - ヘッダ スタイルv1
======================================================== */

/* header - レイアウト
-------------------------------------------------------- */
.header{
  display: inline-block;
  width: 100%;
  vertical-align: bottom;
  position: relative;
}
.header-inside {
  background: #172071;
  display: inline-block;
  width: 100%;
  vertical-align: bottom;
}
.w-1349 {
  display: block;
  margin: 0 auto;
  width: 1349px;
}
.header-logo{
  float: left;
  width: 240px;
}
.header-info{
  float: right;
  width: calc(100% - 240px);
}
.header-letter, .header-tel {
  color: #fff;
}
.header-tel,
.header-menu{
  display: inline-block;
  vertical-align: bottom;
}
.nav {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 999999;
}

/* header - テーマ（レイアウト以外の各種デザイン）
-------------------------------------------------------- */
.header-theme{
  color: #fff;
  font-weight: 800;
  letter-spacing: 1px;
}

/* sp */
@media screen and (max-width: 767px) {
  .header-theme{
    padding: 1rem 1rem;
    margin-bottom: 1rem;
  }
  .header-inside {
    font-size: 2rem;
  }
  img.img-logo {
    width: 180px
  }
  img.img-logo-shape {
    width: 34px
  }
}
/* pc */
@media screen and (min-width: 768px) {
  img.img-logo {
    width: 240px;
  }
}

/* nav - レイアウト
-------------------------------------------------------- */
.nav-trigger {
  display: none;
  position: fixed;
  right: 3rem;
  top: 0;
  z-index: 10;
}
.nav-global {

}

/* nav-global - テーマ
-------------------------------------------------------- */
.nav-trigger-theme{
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid #222;
  color: #222;
  font-size: 4rem;
  padding: 1rem 1.5rem;
}
.nav-global-theme{
  background: rgba(255, 255, 255, 0.7803921568627451);
  display: inline-block;
  vertical-align: bottom;
  width: 100%;
}
@-moz-document url-prefix() {
	.nav-global-theme {
		margin-right: -14px !important;
		padding-right: 14px !important;
	}
}
.nav-global-theme::-webkit-scrollbar {
	display: none;
}
.nav-list{
  display: table;
  margin: 0 auto;
  width: 1180px;
}
.nav-list-item{
  display: table-cell;
  border-bottom: 1px solid #fff;
  position: relative;
  vertical-align: bottom;
}
.nav-list-item:last-child{
  border: 0;
}
.nav-list-item a{
  box-sizing: border-box;
  color: #172071;
  display: inline-block;
  float: left;
  padding: 3rem 1rem;
  width: 100%;
}
.nav-list-item a:hover,
.nav-list-item a:active,
.nav-list-item a:focus{
  background: #172071;
  color: #fff;
  opacity: 1;
  text-decoration: none;
  transition: 0.5s;
}
.sub-nav-list {
  background: rgba(23, 32, 113, 0.68);
  display: none;
  padding: 0 0.8rem;
  position: absolute;
  top: 100%;
  left: 0;
  width: 163px;
  z-index: 999999;
}
.nav-list-item:hover .sub-nav-list {
  display: inline-block;
}
.sub-nav-list-item {
  border-bottom: 1px solid #fff;
  display: inline-block;
  padding: 0;
  width: 100%;
}
.sub-nav-list-item:last-child {
  border-bottom: 0 solid transparent;
}
.sub-nav-list-item a {
  box-sizing: border-box;
  color: #fff;
  display: block;
  padding: 1.8rem 0.7rem;
  width: 100%;
}
.sub-nav-list-item a:hover,
.sub-nav-list-item a:active,
.sub-nav-list-item a:focus{
  background: transparent;
  opacity: 0.7;
}

/* sp */
@media screen and (max-width: 767px) {
  .nav-trigger{
    right: 0;
  }
  .nav-global-theme{
    padding: 0;
    width: 100%;
  }
  .nav-list{
    margin: 0 auto;
    padding: 0;
  }
}
/* pc */
@media screen and (min-width: 768px) {
  .nav-global-theme{
    /* width: 100%; */
  }
}
