@charaset utf-8;
@font-face {
  font-family: YuGothicM;
  src: local("Yu Gothic Medium");
}

/* ========================================================
base.css - サイト全体のベーススタイル
======================================================== */

/* reset
-------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, hr {
margin: 0;
padding: 0;
border: 0;
}

ol, ul {
list-style: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

/* root
-------------------------------------------------------- */
html{
  font-size: 10px;
}
body {
  /* Mac英字：San Fransisco　Android：縦長英字対策(Roboto) */
  font-family:-apple-system,BlinkMacSystemFont,"Helvetica Neue","Tahoma","游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN",メイリオ,Meiryo,sans-serif;
  font-weight: 400;
  line-height: 1;
}
img{
  vertical-align: middle;
}
/* sp */
@media (max-width: 767px){
  html, body {
    overflow-x: hidden;
  }
  body {
    font-size: 1.6rem;
  }
  img:not([width]) {
    max-width: 100%;
    height: auto;
  }
}
/* pc */
@media (min-width: 768px){
  body {
    display: inline-block;
    font-size: 1.4rem;
    min-width: 1349px;
    width: 100%;
  }
}

/* link
-------------------------------------------------------- */
a {
  color: #133256;
  text-decoration: none;
}
a:hover, a:active, a:focus {
  text-decoration: none;
  transition: 0.4s;
}

/* form
-------------------------------------------------------- */
input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
textarea{
  background: transparent;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 1.6rem;
  padding: 1rem;
  width: 100%;
}
button[type="submit"]{
  border-radius: 0;
}
